<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
    <%= form_with url: '/book' do |f| %>
      <%= hidden_field_tag 'event_id' ,event.id %>
      <%= f.submit "Register", notice: "Registered" %>
     <% end %>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
